<h1>Editing artist</h1>



<%= render "form", artist: @artist %>
</div>

<br>

<div class="buttonS2">

<button type="button" class="btn btn-dark"><%= link_to "Show this artist", @artist %></button>
<button type="button" class="btn btn-dark"><%= link_to "Back to artists", artists_path %></button>
</div>
