

html {
    height: 100%;
    width: 100%;
}

.body {
    color: #464646;
}

#artists {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.card {
    border: 3px black solid;
    margin: 1vw;
    width: 20vw;
    min-height: 70vh;
    transition: ease-in-out 0.3s;
    box-shadow: 7px 5px 5px black;
}

.card:hover{
    transform: scale(1.1)
}

.card-show {
    border: 3px black solid;
    margin: 1vw;
    border-radius: 10px;
    background-color:rgba(240, 240, 240, 0.966);

}

.card-img-top {
    height: 40vh;
    
    background-color: black;
}

.centrageI {
    display: flex !important;

    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    margin-bottom: 5%;

}

.CentragePdP {

    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    border: 3px black solid;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}

h1 {
    margin: 0;
}

nav {
    width: 100%;
    text-align: left;
}

nav ul {
    padding-top: 20px;
}

nav li {
    display: inline;
    margin-left: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.DecoB{
    color: rgb(36, 39, 211);
}

.logo {
    width: 5%;
    height: 5%;
    margin-right: 10px;
}

.ColorsS{
    color: blue ;
}

footer {

    bottom: 0%;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.allignementC {
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-right: 1%;
    align-content: space-between;

}

.img {
    width: 100%
}

.centrageD {
    margin-left: 1vw;
    margin-right: 3vw;
}

.buttonS {
    margin-top: 5%;
    margin-left: 47%;
    margin-right: 20%;
    margin-bottom: 1%;
}

.buttonS2 {
    margin-top: 5%;
    margin-left: 42%;
    margin-right: 20%;
    margin-bottom: 1%;
}

.buttonS3 {
    margin-top: 5%;
    margin-left: 42%;
    margin-right: 20%;
    margin-bottom: 1%;
}

.buttonD {
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 25%;
}

.bouton-show {
    display: flex;
    flex-direction: column;
    -ms-flex-align: end;
    text-align: end;
    align-self: baseline;
    bottom: 0px;
}